<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

   <!-- For Wish List -->
   <link rel="stylesheet" href="/djangohotels.com/static/css/wishlist.css">
   <!-- Custom style sheet -->
   <link rel="stylesheet" href="/djangohotels.com/static/css/style.css">
   <!-- Font Awsome -->
   <script src="https://kit.fontawesome.com/0f42c19b3f.js" crossorigin="anonymous"></script>

   <title>Welcome To Django Hotel | Find your Home Comfortness</title>
</head>
<body>
<header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-lg-5 p-md-3 p-2 mb-lg-3 mb-md-2 mb-1 navbar-shadow">
         <a class="navbar-brand mr-pc font-weight-bolder" href="#">Django Hotel</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
               <li id="nav-home" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/home_page.html">Home <span class="sr-only">(current)</span></a>
               </li>
               <li id="nav-rooms" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/rooms.html">Rooms</a>
               </li>
               <li id="nav-about" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/about.html">About</a>
               </li>
               <li id="nav-contact" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/contact.html">Contact</a>
               </li>

            </ul>
            <ul class="navbar-nav">
               <li id="nav-user" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fa-solid fa-user mx-2"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/djangohotels.com/templates/user/profile.html">Profile</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/room_booking/wishlist.html">Wish List</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/room_booking/my_booking.html">My booking</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/djangohotels.com/templates/pages/management.html">Management</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/user/login.html">Sign out</a>
                  </div>
               </li>
               <li id="nav-signin" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/user/login.html">Sign in</a>
               </li>
               <li id="nav-signup" class="nav-item">
                  <a class="nav-link " href="/djangohotels.com/templates/user/register.html">Sign up</a>
               </li>
            </ul>
         </div>
      </nav>
</header>
<main>
    <div class="container">
        <section class="py-lg-5 py-md-3 py-2">
            <h2 class="text-center"><span class="mr-pc font-weight-bold">About</span> Django Hotel</h2>
            <hr class="hr-bar mt-n2 rounded">
            <p class="text-justify">Welcome to Django Hotel, your premier destination for an unforgettable stay in the vibrant city of Hyderabad. 
               Strategically located, we offer an ideal blend of modern elegance and authentic local charm, catering to both business and leisure travelers. 
               Our thoughtfully designed rooms and suites provide ultimate comfort, featuring plush bedding, contemporary decor, and all the essential amenities for a relaxing retreat. 
               Guests can savor exquisite culinary experiences at our in-house restaurant, which serves a diverse menu of local delicacies and international favorites. 
               Unwind and rejuvenate at our state-of-the-art fitness center or take a refreshing dip in our sparkling swimming pool. 
               For corporate guests, our well-equipped meeting rooms and business facilities ensure productivity and seamless events. 
               Our dedicated and attentive staff are committed to providing personalized service, ensuring every need is met with genuine hospitality. 
               We strive to create a warm and inviting atmosphere where every guest feels valued and at home. 
               Discover the essence of luxury and convenience; make Django Hotel your chosen address in Hyderabad.
            </p>
        </section>
        <!-- Our Team section starts here -->
        <section class="py-lg-5 py-md-3 py-2 text-center">

            <h2 class="text-center">Our <span class="mr-pc font-weight-bold">Team</span></h2>
            <hr class="hr-bar mt-n2 rounded">
            <div>
                <div class="card-group">
                    <div class="card">
                        <img src="/djangohotels.com/static/images/Pat-Kenny-HR3-CREDIT-Fennell-Photography.jpg" alt="CEO Image">
                        <div class="card-body">
                            <h5 class="card-title">Julian Thorne - Chief Executive Officer (CEO)</h5>
                            <p class="card-text">Julian brings over two decades of experience in the luxury hospitality sector, with a proven track record of driving growth and innovation.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/djangohotels.com/static/images/confident-chef-standing-crossed-arms-600nw-2481669143.webp" alt="Chef Image">
                        <div class="card-body">
                            <h5 class="card-title">Chef Marco Rossi - Chief Chef</h5>
                            <p class="card-text">With a culinary career spanning international five-star establishments, Chef Marco is the creative force behind Django Hotel's exquisite dining.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="/djangohotels.com/static/images/download (2).jpg" class="card-img-top" alt="Service Manager">
                        <div class="card-body">
                            <h5 class="card-title">Ben Carter - Chief Service Manager</h5>
                            <p class="card-text">Ben is the heart of Django Hotel's renowned guest experience, overseeing all aspects of front-of-house operations with meticulous attention to detail.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our team sectiosn ends here -->

        <!-- Our partners starts from here -->
        <section class="py-lg-5 py-md-3 py-2 text-center">
            <h2 class="text-center">Our <span class="mr-pc font-weight-bold">Partners</span></h2>
            <hr class="hr-bar mt-n2 rounded">
            <div>
                <div class="card mb-3" style="max-width: 800px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="/djangohotels.com/static/images/57aa69ca-7502-494f-b688-374958d9f76d_398x398.jpg" alt="Business Partner">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Alex Kim - Business Partner (Hospitality Ventures)</h5>
                                <p class="card-text">Alex is a key strategic business partner, bringing extensive expertise in hospitality investment and development.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our partners section ends here -->
        
    </div>
</main>
<footer>
      <div class="row justify-content-around mt-5 pt-5">
         <div class="col-4">
            <div class="row">
               <div class="col d-flex justify-content-end align-items-center">
                  <h2 class="mr-pc"><i class="fa-solid fa-phone"></i></h2>
               </div>
               <div class="col">
                  <p>Have any questions?</p>
                  <p>+91 9988776655</p>
               </div>
            </div>

         </div>
         <div class="col-4">
            <div class="row">
               <div class="col d-flex justify-content-end align-items-center">
                  <h2 class="mr-pc"><i class="fa-solid fa-envelope"></i></h2>

               </div>
               <div class="col">
                  <p>Have any questions?</p>
                  <p>admin@gmail.com</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <!-- Copyright -->
         <div class="col d-flex justify-content-center">
            <p>© 2024 Copyright: <span class="mr-pc font-weight-bold">Django Hotel</span> </p>
         </div>
         <!-- Copyright -->
      </div>
</footer>
   <script>
      const navItems = document.getElementsByClassName('nav-item');
      for (const navItem of navItems) {
         navItem.classList.remove('active');
      }

      const activeNavItem = document.getElementById('{{active_nav_item}}');
      activeNavItem.classList.add('active');
   </script>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
</body>
</html>
