<!doctype html>
<html lang="en">

<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

   <!-- For Wish List -->
   <link rel="stylesheet" href="/djangohotels.com/static/css/wishlist.css">
   <!-- Custom style sheet -->
   <link rel="stylesheet" href="/djangohotels.com/static/css/style.css">
   <!-- Font Awsome -->
   <script src="https://kit.fontawesome.com/0f42c19b3f.js" crossorigin="anonymous"></script>

   <title>Contact Us | Django Hotel</title>
</head>

<body>
<main>
   <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-white p-lg-5 p-md-3 p-2 mb-lg-3 mb-md-2 mb-1 navbar-shadow">
         <a class="navbar-brand mr-pc font-weight-bolder" href="/djangohotels.com/index.html">Django Hotel</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>

         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-auto">
               <li id="nav-home" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/index.html">Home<span class="sr-only">(current)</span></a>
               </li>
               <li id="nav-rooms" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/rooms.html">Rooms</a>
               </li>
               <li id="nav-about" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/about.html">About</a>
               </li>
               <li id="nav-contact" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/pages/contact.html">Contact</a>
               </li>

            </ul>
            <ul class="navbar-nav">
               <li id="nav-user" class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                     aria-haspopup="true" aria-expanded="false">
                     <i class="fa-solid fa-user mx-2"></i>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="/djangohotels.com/templates/user/profile.html">Profile</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/room_booking/wishlist.html">Wish List</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/room_booking/my_booking.html">My booking</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/djangohotels.com/templates/pages/management.html">Management</a>
                     <a class="dropdown-item" href="/djangohotels.com/templates/user/login.html">Sign out</a>
                  </div>
               </li>
               <li id="nav-signin" class="nav-item">
                  <a class="nav-link" href="/djangohotels.com/templates/user/login.html">Sign in</a>
               </li>
               <li id="nav-signup" class="nav-item">
                  <a class="nav-link " href="/djangohotels.com/templates/user/register.html">Sign up</a>
               </li>
            </ul>
         </div>
      </nav>
   </header>
    <div class="container " id="contact-container">
        <section class="py-lg-5 py-md-3 py-2">
            <div class="row">
                <div class="col text-center">
                    <h2 class="h1 mr-pc"><i class="fa-solid fa-hotel"></i></h2>
                    <h5>Office Address</h5>
                    <p>
                        123, Green Road <br>
                        Hyderabad, India
                    </p>
                </div>
                <div class="col text-center">
                    <h2 class="h1 mr-pc"><i class="fa-solid fa-square-phone"></i></h2>
                    <h5>Phone Number</h5>
                    <p>
                        +91 9988776655 <br>
                        +91 9988776644
                    </p>
                </div>
                <div class="col text-center">
                    <h2 class="h1 mr-pc"><i class="fa-solid fa-square-envelope"></i></h2>
                    <h5>Email Address</h5>
                    <p>
                        info@djangohotels.com <br>
                        support@djangohotels.com
                    </p>
                </div>
            </div>
        </section>
        <section class="py-lg-5 py-md-3 py-2">
            <form action="">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-info" id="basic-addon1"><i class="fa-solid fa-user mr-pc"></i></span>
                            </div>
                            <input type="text" class="form-control border-info" placeholder="Your name" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-info" id="basic-addon1"><i
                                        class="fa-solid fa-phone mr-pc"></i></span>
                            </div>
                            <input type="text" class="form-control border-info" placeholder="Phone number" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-info" id="basic-addon1"><i
                                        class="fa-solid fa-envelope mr-pc"></i></span>
                            </div>
                            <input type="text" class="form-control border-info" placeholder="Email addres" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-info" id="basic-addon1"><i
                                        class="fa-solid fa-book mr-pc"></i></i></span>
                            </div>
                            <input type="text" class="form-control border-info" placeholder="Write subject" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text border-info" id="basic-addon1"><i class="fa-solid fa-pen mr-pc"></i></span>
                            </div>
                            <textarea rows="10" class="form-control border-info" placeholder="Write your message" aria-label="With textarea"></textarea>
                        </div>
                    </div>
                </div>
                  <div class="row mt-3"> <div class="col text-center"> <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                     </div>
                  </div>
            </form>
        </section>
    </div>
</main>
<footer>
   <div class="row justify-content-around mt-5 pt-5">
      <div class="col-4">
         <div class="row">
            <div class="col d-flex justify-content-end align-items-center">
               <h2 class="mr-pc"><i class="fa-solid fa-phone"></i></h2>
            </div>
            <div class="col">
               <p>Have any questions?</p>
               <p>+91 9988776655</p>
            </div>
         </div>

      </div>
      <div class="col-4">
         <div class="row">
            <div class="col d-flex justify-content-end align-items-center">
               <h2 class="mr-pc"><i class="fa-solid fa-envelope"></i></h2>

            </div>
            <div class="col">
               <p>Have any questions?</p>
               <p>info@djangohotels.com</p>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <!-- Copyright -->
      <div class="col d-flex justify-content-center">
         <p>© 2024 Copyright: <span class="mr-pc font-weight-bold">Django Hotel</span> </p>
      </div>
      <!-- Copyright -->
   </div>
</footer>
<script>
      const navItems = document.getElementsByClassName('nav-item');
      for (const navItem of navItems) {
         navItem.classList.remove('active');
      }

      const activeNavItem = document.getElementById('{{active_nav_item}}');
      activeNavItem.classList.add('active');
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous">
</script>
<script>
   // Add bootstrap class for styling the choice input filed in search
   const elm = document.getElementById("id_room_type");
   elm.classList.add('custom-select')
</script>
</body>
</html>
